
*{
    margin: 0;
    padding: 0;
}


h1{
    font-family:cursive;
   text-align: center;
   color: #BC6C25;
   font-size: xx-large;
}

h3{


    font-family:cursive;
    text-align: center;
    color: #DDA15E;
    font-size: x-large;
 }
    

/* the style of div that contain img and a*/
div{

    height: 100%;
    width: 100%;
   
   font-family:cursive;
   text-align: center;
   color: olive;
   font-size: larger;
}


/*images style*/
.img{

    border: 4px solid darkolivegreen ;
    width: 428px;
    height: 260px;

}


/*links style*/
a{
    color: #BC6C25;
    text-decoration: none;
}

/*When the mouse is on the link, it becomes bigger*/
a:hover{
    font-size: larger;
}


/*the horizontal line style*/
hr{
    border-top:dashed #E9B7B2;
    border-bottom:dashed #E9B7B2;
    width: 100%;
    background-color: lightblue;
    height: 5px;
}